@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f4f1ed;
  --accent: #ea580c;
}

body {
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-condensed {
    font-family: var(--font-condensed), sans-serif;
  }
}
